# Ignore node_modules
node_modules/

# Ignore logs
logs
*.log
npm-debug.log*

# Ignore environment variables
.env

# Ignore Next.js build output
.next/

# Ignore other possible build outputs
dist/
out/

# Ignore OS specific files
.DS_Store
Thumbs.db
